@use "normalize";

$color-primary: #010324;
$color-body: #fff;
$color-accent: #ffec82;
$gradient-primary: linear-gradient(
		    125deg,
		    hsl(240deg 100% 9%) 0%,
		    hsl(241deg 98% 9%) 17%,
		    hsl(242deg 96% 9%) 31%,
		    hsl(243deg 94% 10%) 42%,
		    hsl(244deg 92% 11%) 52%,
		    hsl(245deg 89% 11%) 61%,
		    hsl(246deg 90% 12%) 69%,
		    hsl(247deg 92% 12%) 76%,
		    hsl(249deg 90% 12%) 83%,
		    hsl(250deg 98% 10%) 89%,
		    hsl(254deg 100% 10%) 95%,
		    hsl(254deg 100% 10%) 100%
		    );


*,*::before,*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "inter";
    src: url("../fonts/inter/Inter-VariableFont.ttf");
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "montserrat-bold";
    src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}

html {
    scroll-behaviour: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
}



body {
    color: $color-body;
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    margin: 0;
}


// Navbar
nav {
    background: $gradient-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    margin: 0;
}

nav img {
    width: 12rem;
    object-fit: contain;
    margin: 0;
}

nav .icon {
	width: 50px;
	height: 50px;
	margin: 0;
}

// for the current navigation link
.nav--active {
	font-weight: 900;
	color: $color-accent;
}

.nav__toggler {
    opacity: .5 ;
    transition: box-shadow .3s;
    cursor: pointer;
}


.nav-list {
	list-style: none;
	padding: 1.4rem .5rem;
	width: 100%;
	margin: 0;
	padding: 0;
}

.nav-list__item {
	text-transform: capitalize;
	font-weight: 400;
	opacity: .8;
	font-size: 1.4rem;
	padding: .8rem;
	border-bottom: 1px solid rgba(255, 255, 255, .1);;
}

.nav-list__item > a {
	transition: font-weight .3s, margin-left .3s ease;
}

.nav-list__item > a:hover {
	margin-left: 1rem;
}

.collapsible--expanded .nav__toggler {
	border-radius: 5px;
	box-shadow: 0 .5px 5px 1.5px #fff;
}


@media screen and (min-width: 1024px) {
	nav .nav-list.collapsible__content {
		align-items: center;
		display: flex;
		max-height: 100%;
		opacity: 1;
		width: auto;
	}

	.nav-list__item {
		padding: 1.2rem;
		transition: transform .3s;
		border-bottom: 0;
	}

	.nav-list__item:hover {
		transform: scale(1.07);
	}

	.nav-list__item > a {
		transition: opacity .3s;
		margin-left: 0 !important;	
	}

	.nav-list__item > a:hover {
		opacity: 1;
	}

	.nav__toggler {
		display: none;
	}
}


/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--white {
    fill: white;
}

.icon-container {
    align-items: center;
    background: #f3f9f8;
    border-radius: 100px;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;

}


/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: $color-body; 
}

.list--inline .list__item {
    display: inline-block;
    margin: 2rem;
}


// Links
a {
	text-decoration: none;
	color: inherit;
}


// Collapsibles
.collapsible--expanded .collapsible__content {
	max-height: 100vh;
	opacity: 1;
}

.collapsible__content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity .3s,
				max-height .4s ease-in-out;
}


// Hero Blocks
.hero-block--main .hero-block__header {
	font-size: 3rem;
	color: $color-body;
	z-index: 2;
}

.hero-block--main .hero-block__subheader {
	color: $color-accent;
	font-size: 2.1rem;
	opacity: .7;
	z-index: 1;
}

.hero-block--main {
	background-image: url("../images/man-checking-engine.jpg");
	background-size: cover;
	position: relative;
	color: white;
	width: 90%;
}

.hero-block--main::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .4;
	transition: opacity .4s ease;
}

.hero-block--main:hover::before {
	opacity: .7;	
}

.hero-block__container {
	display: flex;	
	margin: 3rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 4rem;
	text-align: center;
	color: $color-body;
	height: 50vh;
}

.hero-block__container--gradient {
	background: $gradient-primary;
}

.hero-block__container--rounded {
	border-radius: 10px;
}


.hero-block__header {
	text-transform: capitalize;
	font-size: 2.2rem;
	font-weight: bold;
}

.hero-block__subheader {
	font-size: 1.8rem;
}

.hero-block__body {
	font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
	.hero-block__body {
		font-size: 1.2rem;
	}

	.hero-block__header {
		font-size: 2.4rem;
	}

	.hero-block--main .hero-block__header {
		font-size: 3.5rem;
	}

	.hero-block--main .hero-block__subheader {
		font-size: 2.4rem;
	}

	.hero-block--main {
		min-height: 70vh;
	}
}



// Miscellaneous
.container--column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container--row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}	

.shadow--light {
	box-shadow: 0 2px 6px 2px #353535;
}