	<div class="cng-hero">
		<div class="cng-hero__text">
			<h2 class="subheader">switch to cleaner, cheaper and smarter fuel</h2>
			<p class="body-text">Sed proident exercitation laborum in ad nulla ea ut amet aute sunt dolor aliqua in excepteur ea ea laborum est enim excepteur voluptate id enim in elit occaecat aliqua ex nisi do cupidatat.</p>
			<button class="btn btn--accent btn--rounded">start now</button>
		</div>
		<div class="img-clip--rounded">
			<img src="images/mechanic-hand-2.jpg" class="cng-hero__img" alt="hero img">
		</div>
	</div>
