	<div class="container--column">
		<div class="hero-block--main hero-block__container">
			<h2 class="hero-block__header">Welcome to Juebs</h2>
			<h3 class="hero-block__subheader">"All your Automobile needs in one place"</h3>
		</div>

		<div class="hero-block__container hero-block__container--gradient hero-block__container--rounded shadow--light">
			<h2 class="hero-block__header ">Welcome to Juebs</h2>
			<p class="hero-block__body">Pariatur id velit proident amet qui dolor consectetur velit proident id in ut dolor eu dolor sint deserunt proident voluptate et deserunt aliqua commodo esse deserunt duis ut in in magna exercitation incididunt ex magna nostrud mollit consectetur.</p>
		</div>

		<div class="hero-block__container hero-block__container--bg-image hero-block__container--rounded shadow--light">
			<h2 class="hero-block__header ">Welcome to Juebs</h2>
			<p class="hero-block__body">Pariatur id velit proident amet qui dolor consectetur velit proident id in ut dolor eu dolor sint deserunt proident voluptate et deserunt aliqua commodo esse deserunt duis ut in in magna exercitation incididunt ex magna nostrud mollit consectetur.</p>
		</div>
	</div>
	</div>
