	<nav class="collapsible">
		<img src="images/1739455041406.webp" alt="juebs company logo">
		<svg class="icon icon--white nav__toggler">
			<use xlink:href="images/mosh-sprite.svg#menu></use>
		</svg>
		<ul class="nav-list collapsible__content">
			<li class="nav-list__item nav--active"><a href="#">home</a></li>
			<li class="nav-list__item"><a href="#">about us</a></li>
			<li class="nav-list__item"><a href="#">our services</a></li>
			<li class="nav-list__item"><a href="#">contact us</a></li>
		</ul>
	</nav>
